.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input {
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 8px;

  border: 2px solid var(--sub-color);
}

@media (max-width: 500px) {
  .input-container {
    margin-top: 8px;
    flex-direction: column;
  }
}
