.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-size: 1.3rem;

  background-color: var(--main-color);
  padding: 48px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 16px;

  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.timer {
  font-size: 5rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .timer-container {
    gap: 8px;
  }
}
