@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* RESET */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

/* STYLE */

#root {
  height: 100%;
}

body {
  --bg-color: #f47c7c;
  --font-color: #111;
  --main-color: #ef9f9f;
  --sub-color: #e26868;

  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}
